<!--{% load static %}-->
<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                    class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a>
        </div>
        <div class="nk-sidebar-brand">
            <a href="#" class="logo-link nk-sidebar-logo">
                <!--                <img class="logo-light logo-img" src="{% static 'dashboard/images/logo.png' %} " alt="logo">-->
                <!--                <img class="logo-dark logo-img" src="{% static 'dashboard/images/logo-dark.png' %}"-->
                <!--                     alt="jean logo-dark">-->
                <span class="nk-menu-text"><h5>Hostel Booking App</h5></span>
            </a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element nk-sidebar-body">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item">
                        <a href="#" class="nk-menu-link">
                            <span class="nk-menu-icon"></span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                            <span class="nk-menu-text">Dashboard</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="html/hotel/customers.html" class="nk-menu-link">
                            <span class="nk-menu-icon"> </span>
                            <span class="nk-menu-text"></span>
                        </a>
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item has-sub">
                        <a href="/hostels" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span>
                            <span class="nk-menu-text">Hostels</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/hostels" class="nk-menu-link"><span
                                        class="nk-menu-text">All hostels</span></a>
                            </li>

                            {% if user.is_staff %}
                            <li class="nk-menu-item">
                                <a href="/record_hostel" class="nk-menu-link"><span
                                        class="nk-menu-text">Add hostel</span></a>
                            </li>
                            {% endif %}

                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="/bookings" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span>
                            <span class="nk-menu-text">Bookings</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/bookings" class="nk-menu-link"><span class="nk-menu-text">All Bookings</span></a>
                            </li>
                            {% if user.is_staff %}
                            <li class="nk-menu-item">
                                <a href="/make_booking" class="nk-menu-link"><span
                                        class="nk-menu-text">Add Booking</span></a>
                            </li>
                            {% endif %}

                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="/rooms" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span>
                            <span class="nk-menu-text">Rooms</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/rooms" class="nk-menu-link"><span class="nk-menu-text">All Rooms</span></a>
                            </li>
                            {% if user.is_staff %}
                            <li class="nk-menu-item">
                                <a href="/add_room" class="nk-menu-link"><span class="nk-menu-text">Add Rooms</span></a>
                            </li>
                            {% endif %}

                            <li class="nk-menu-item">
                                <a href="/rooms" class="nk-menu-link"><span class="nk-menu-text">Room Types</span></a>
                            </li>
                        </ul>
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-reports"></em></span>
                            <span class="nk-menu-text">
                                {% if user.is_staff %}
                                Customers
                                {% else %}
                                Residents
                                {% endif %}
                            </span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-stocks.html" class="nk-menu-link"><span class="nk-menu-text">All</span></a>
                            </li>
                            {% if user.is_staff %}
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-expenses.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add</span></a>
                            </li>
                            {% endif %}
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-booking.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Booking</span></a>
                            </li>
                        </ul>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-reports"></em></span>
                            <span class="nk-menu-text">Reports</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-stocks.html" class="nk-menu-link"><span class="nk-menu-text">Stocks</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-expenses.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Expenses</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/hotel/report-booking.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Booking</span></a>
                            </li>
                        </ul>
                    </li><!-- .nk-menu-item -->


                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="html/hotel/customers.html" class="nk-menu-link">
                            <span class="nk-menu-icon"> </span>
                            <span class="nk-menu-text"></span>
                        </a>
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item">
                        <a href="html/hotel/support.html" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-chat-circle-fill"></em></span>
                            <span class="nk-menu-text">Support</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    {% if user.is_staff %}
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Go to Admin</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/admin" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-dashlite-alt"></em></span>
                            <span class="nk-menu-text">Main Dashboard</span>
                        </a>
                    </li>
                    {% endif %}

                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->