{% extends 'dashboard/hostel/base.html' %}
<!--{% load static %}-->
{% load crispy_forms_tags %}

{% block content %}

<body class="nk-body bg-white npc-general pg-auth">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap nk-wrap-nosidebar">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <form method="POST" action="">
                                <h1>
                                    Login
                                </h1>
                                {% csrf_token %}
                                {{ login_form|crispy }}
                                <!--                            {% if request.GET.next %}-->
                                <!--                            <input type="hidden" name="next" value="{{request.GET.next}}">-->
                                <!--                            {% endif %}-->
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                                <p class="text-center">Don't have an account yet? <a class="text-danger" href="/register">Sign Up</a></p>

                            </form>

                        </div>

                    </div>
                </div><!-- nk-split -->
            </div>
        </div>
    </div>
</div><!-- nk-split -->
<!-- wrap @e -->
</body>
<!-- content @e -->

<!-- footer @s -->
{% include 'dashboard/hostel/includes/footer.html' %}
<!-- footer @e -->
{% endblock %}
