{% extends 'dashboard/hostel/base.html' %}
<!--{% load static %}-->
{% block content %}

<!-- sidebar @s -->
{% include 'dashboard/hostel/includes/sidenavbar.html' %}
<!-- sidebar @e -->
<!-- wrap @s -->
<div class="nk-wrap ">
    <!-- main header @s -->
    {% include 'dashboard/hostel/includes/header.html' with person=request.user %}
    <!-- main header @e -->
    <!-- content @s -->
    <!-- content @s -->
    <div class="nk-content ">
        <div class="container">
            <div class="nk-content-inner">

                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="row g-gs flex-lg-row-reverse pt-5">
                                <div class="col-lg-5">
                                    <div class="">
                                        <img class="w-100" src="{{room_details.photo.url }}" alt="">

                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-7">
                                    <div class="product-details entry mr-xxl-3">
                                        <h3>A {{ room_details.hostel_name }} {{ room_details.room_capacity }} Room </h3>
                                        <p>Merging elegant style with contemporary comfort, the 188 hotel rooms and
                                            suites at the
                                            {{ room_details.hostel_name }} are beautifully furnished, appointed with
                                            5-star
                                            amenities and decorated with unique African artwork. Each is an exemplar of
                                            timeless charm, refined sophistication and deeply local character, and every
                                            room meets the rigorous standards required for inclusion in The Leading
                                            Hotels of the World collection..</p>

                                        <ul class="list list-sm list-checked">
                                            <li>{{ room_details.hostel_name}} Hostel.</li>
                                            <li>{{ room_details.gender}} Room</li>
                                            <li>{{ room_details.lavatory}} Lavatory</li>
                                            <li>{{ room_details.room_capacity}} Room</li>
                                            <li>{{ room_details.hostel_name}}.</li>
                                            <li>As attractively priced at
                                                {% if room_details.room_capacity is "Double" %}
                                                <span class="text-danger">{{ room_details.hostel_name.doubleroom_price}}.
                                                {% else %}
                                                    {{ room_details.hostel_name.singleroom_price}}.</span>
                                                {% endif %} as you look attractive in one
                                            </li>
                                        </ul>

                                    </div>
                                </div><!-- .col -->

                                <div class="product-meta">
                                    <ul class="d-flex flex-wrap ailgn-center g-2 pt-1">
                                        {% if not user.is_staff %}
                                        <li>
                                            <a href="/booking/{{room_details.hostel_name.id}}"
                                               class="btn btn-success text-white">Book This Room Now</a>
                                        </li>
                                        {% endif %}

                                        {% if user.is_staff %}
                                        <li>
                                            <a href="/edit_room/{{room_details.id}}"
                                               class="btn btn-primary text-white">Edit Room Details</a>
                                        </li>
                                        {% endif %}

                                        {% if user.is_staff %}
                                        <li>
                                            <a href="/delete_room/{{room_details.hostel_name.id}}"
                                               class="btn btn-danger text-white">Delete Room</a>
                                        </li>
                                        {% endif %}


                                    </ul>
                                </div><!-- .product-meta -->
                            </div><!-- .row -->
                        </div>
                    </div>
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<!-- footer @s -->
{% include 'dashboard/hostel/includes/footer.html' %}
<!-- footer @e -->
{% endblock %}